@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors: */
  --optienal-dark-blue: #1a1e26;
  --elegant-blue: #0f57d1;
  --lighter-blue: #9cc0ff;
  --white: #ffffff;
  --offwhite: #f7fafd;
  --midgray: #c0c7d1;
  --dark-gray: #63666b;
  --black: #000000;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

h5 {
  font-weight: 700;
  font-size: 0.875rem;
}

.navbar-blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); /* For Safari */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Fallback for browsers that don't support backdrop-filter */
}

.dropdown-pointer::before {
  content: "";
  position: absolute;
  top: -7px; /* Adjust this value based on your needs */
  left: 10%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.7); /* Match the dropdown background color or use theme color */
}
