@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.navbar-blur {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); /* For Safari */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Fallback for browsers that don't support backdrop-filter */
}
